@import 'global';
*,
*::before,
*::after {
    box-sizing: border-box;
}
.header {
  background-image: url(/images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #fff;
  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__top {
    padding: 16px 0 49px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__phone-number {
    margin-left: 19px;
    padding: 12px 31px;
    border-radius: 22px;
    background: #886239;
  }
  &__title {
    font-family: 'PT Serif', serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 130%;
    color: #1F1E1E;
    text-align: center; 
    margin-bottom: auto;
  }
  &__descr {
    max-width: 420px;
    font-size: 20px;
    color: #1F1E1E;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 30px;
  }
  &__btn {
    background-color: #886239;
    border-radius: 30px;
    padding: 20px 55px;
    margin-bottom: 20px;
    display: inline-block;
  }
  &__arrow {
    margin: 0 auto;
  }
}
.menu {
  width: 100%;
  margin-top: 15px;
  &__btn {
    display: none;
  }
  &__list {
    padding: 27px 0 24px; 
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
.direction {
  padding: 100px 0;
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
  }
  &__text {
    font-size: 16px;
    border: 1px solid #D9D9DE;
    border-top: none;
    padding: 10px 19px 14px;
    color: #1F1E1E;

  }
  &__img {
    display: block;
  } 
}
.travel-info {
  background-image: url(../images/travel-info-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 30px 0 50px;
  &__title {
    color: #fff;
    margin-bottom: 50px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 54px 57px;
  }
  &__img {
    margin-bottom: 15px;
  }
  &__text {
    color: #fff;
    font-size: 16px;
    line-height: 130%;
  }
}
.popular {
  padding: 100px 0;
  &__title {
    margin-bottom: 40px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 32px;
    padding-bottom: 80px;
    border-bottom: 1px solid #D9D9DE;
  }
  &__link {
    padding: 16px 24px 19px;
    color: #fff;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 256px;
    line-height: 130%;
    &:nth-child(3), &:nth-child(6) {
      grid-row: span 2;
      grid-column: span 2;
    }
  }
  &__link-title {
    font-weight: 500;
    margin-bottom: 15px;
  }
  &__link-title--big {
    font-size: 24px;
  }
  &__price {
    margin-top: auto;
  }
  &__country, &__time {
    margin-bottom: 15px;
  }
}
.map {
  padding-bottom: 100px;
  &__title {
    margin-bottom: 46px;
  }
}
.about {
  &__inner {
    display: grid;
    grid-template-columns: 448px 640px;
    grid-gap: 32px;
    padding-bottom: 100px;
  }
  &__title {
    text-align: left;
    margin-bottom: 25px;
  }
  &__text {
    margin-bottom: 34px;
  }
  &__link {
    font-size: 16px;
    text-decoration: underline;
    color: #C4C4C4;
  }
  &__popup {
    background-image: url(../images/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.gallery {
  color: #fff;
  background-color: #886239;
  padding: 50px 0 105px;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  &__title {
    padding-right: 40px;
  }
  &__link {
    text-decoration: underline;
    padding-right: 160px;
    font-size: 16px;
    line-height: 19px;
  }
  &__item-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }
  .slick-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: -85px;
    right: 0;
  }
  .slick-next {
    right: 60px;
  }
}
.tour {
  padding: 100px 0;
  &__title {
    font-weight: 700;
    margin-bottom: 77px;
  }
  &__box {
    column-count: 2;
    column-gap: 45px;
    padding-bottom: 85px;
    margin-bottom: 45px;
    border-bottom: 1px solid #C4C4C4;
;
  }
  &__text {
    margin-bottom: 15px;
    line-height: 25px;
    & span {
      font-weight: 700;
    }    
  }
  &__info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 70px;
  }
  &__info-item {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 58px;
    color: #886239;
    text-align: center;
    line-height: 60px;
  }
  &__info-text {
    font-size: 20px;
    font-weight: 500;
    color: #1F1E1E;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
  }
}
.booking {
  padding: 75px 0 90px;
  background-color: #EAEAEA;
  &__title {
    font-weight: 700;
    color: #1F1E1E;
    margin-bottom: 43px;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 830px;
    margin: 0 auto;
  }
  &__input, &__textarea {    
    border: 1px solid #D9D9DE;
    &::placeholder {
      color: #C4C4C4;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
    }  
  }
  &__input {
    padding: 11px 14px 12px;
    margin-bottom: 40px;
    width: 256px;
    height: 44px;
  }
  &__textarea {
    resize: none;
    margin-bottom: 67px;
    height: 112px;
    width: 100%;
    padding: 14px;
    margin: 0 auto 67px;
  }
  &__btn {
    background: #886239;
    border-radius: 30px;
    font-weight: 400;
    color: #fff;
    padding: 20px 65px;
    border: none;
    font-size: 18px;
  }
  &__label {
    text-decoration: underline;
    font-size: 16px;
  }
  &__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  &__checkbox-style {
    position: absolute;
    border: 2px solid #C4C4C4;
    border-radius: 2px;
    width: 26px;
    height: 26px;
    margin-left: -45px;
  }
  &__checkbox:checked + &__checkbox-style::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #c4c4c4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.footer {
  background: #1F1E1E;
  padding: 77px 0 81px;
  color: rgba(255, 255, 255, 0.8);
  &__logo {
    text-align: center;
    margin-bottom: 70px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 835px;
    margin: 0 auto;
  }
  &__box-title {
    color: #fff;
    margin-bottom: 7px;
  }
  &__copy {
    margin-bottom: 3px;
  }
  &__link {
    text-decoration: underline;
  }
  &__addres {
    width: 165px;
  }
   &__contacts {
    width: 210px;
  }
  &__phone {
    display: block;  
  }
}

@import 'media';